<div class="container">
  <h3 class="text-center alart alert-warning text-dark">
    <strong>投稿一覧（新着順）</strong>
  </h3>

  <div class="row offset-md-1">
    <div class="card-deck mt-3">
      <%= render "index", posts: @posts %>
    </div>
  </div>
</div>

<div class="offset-5 pt-3"><%= paginate @posts %></div>



