<div class="col-8 mx-auto">
<% if end_users.exists? %>
  <% end_users.each do |end_user| %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><%= end_user.name %></td>
          <td><%= image_tag end_user.get_profile_image, size:'100x100' %></td>
          <td>フォロー<%= end_user.followings.count %></td>
          <td>フォロワー<%= end_user.followers.count %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</div>