<div class="container">
  <h3 class="pl-4">
    <span class = "text-dark alart alert-warning">フォロワー一覧<%= @end_users.count %></span>
  </h3>
  <%= render "follow_list", end_users: @end_users %>
</div>

<div class="offset-5 pt-3"><%= paginate @end_users %></div>