/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top-img {
  background-image: image-url("top.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

/*新規投稿、投稿編集、ログイン、新規登録*/
.new-img {
  background-image: image-url("bread.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}

/*ハンバーガーメニューの背景色カラー変更*/
.navbar-orange {
  background-color: #ffbd59;
}

/*ハンバーガーメニューの３本線の変更*/
.navbar-white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark {
  background-color: #343a40;
}





