<% visiter = notification.visiter %>

<div>
  <%= link_to end_user_path(visiter) do %>
   <%= image_tag visiter.get_profile_image, size:'100x100' %>
  <% end %>
  <%= notification_form(notification) %><span class="moderate-font"><%= "(#{time_ago_in_words(notification.created_at)} å‰)"  %></span>
</div>
